<h1>Please Log In</h1>
<% if session[:errors] %>
	<p class="error"><%= session[:errors] %></p>
<% end %>
<form method="post" action="/sessions">
	E-Mail Address:<input type="text" name="email">
	Password:<input type="password" name="password">
	<input type="submit" value="Log In">
</form>